<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>com.view.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.view.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>com.view.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResetPassword</servlet-name>
        <servlet-class>com.view.ResetPassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserHome</servlet-name>
        <servlet-class>com.view.UserHome</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QuestionServlet</servlet-name>
        <servlet-class>com.view.QuestionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AnswerServlet</servlet-name>
        <servlet-class>com.view.AnswerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserServlet</servlet-name>
        <servlet-class>com.view.UserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MessageServlet</servlet-name>
        <servlet-class>com.view.MessageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminHome</servlet-name>
        <servlet-class>com.view.AdminHome</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminQestionServlet</servlet-name>
        <servlet-class>com.view.AdminQestionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminAnswerServlet</servlet-name>
        <servlet-class>com.view.AdminAnswerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminUserServlet</servlet-name>
        <servlet-class>com.view.AdminUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ValidateOtp</servlet-name>
        <servlet-class>com.view.ValidateOtp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewPassword</servlet-name>
        <servlet-class>com.view.NewPassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckUserServlet</servlet-name>
        <servlet-class>com.view.CheckUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Glogin</servlet-name>
        <servlet-class>com.view.Glogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IdTokenVerifierAndParser</servlet-name>
        <servlet-class>com.view.IdTokenVerifierAndParser</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/RegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResetPassword</servlet-name>
        <url-pattern>/ResetPassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserHome</servlet-name>
        <url-pattern>/UserHome</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>/static/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QuestionServlet</servlet-name>
        <url-pattern>/QuestionServlet</url-pattern>
        <url-pattern>/new</url-pattern>
        <url-pattern>/insert</url-pattern>
        <url-pattern>/edit-question</url-pattern>
        <url-pattern>/update-question</url-pattern>
        <url-pattern>/question-list</url-pattern>
        <url-pattern>/myquestions</url-pattern>
        <url-pattern>/question-delete</url-pattern>

    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AnswerServlet</servlet-name>
        <url-pattern>/AnswerServlet</url-pattern>
        <url-pattern>/view-Answer</url-pattern>
        <url-pattern>/new-answer</url-pattern>
        <url-pattern>/post-Answer</url-pattern>
        <url-pattern>/myanswer</url-pattern>
        <url-pattern>/answer-delete</url-pattern>
        <url-pattern>/listAnswerByQuestion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserServlet</servlet-name>
        <url-pattern>/UserServlet</url-pattern>
        <url-pattern>/user-edit</url-pattern>
        <url-pattern>/user-update</url-pattern>
        <url-pattern>/user-delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MessageServlet</servlet-name>
        <url-pattern>/MessageServlet</url-pattern>
        <url-pattern>/message-list</url-pattern>
        <url-pattern>/new-message</url-pattern>
        <url-pattern>/my-messages</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminHome</servlet-name>
        <url-pattern>/AdminHome</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminQestionServlet</servlet-name>
        <url-pattern>/AdminQestionServlet</url-pattern>
        <url-pattern>/admin-new-question</url-pattern>
        <url-pattern>/insert-new-question</url-pattern>
        <url-pattern>/admin-question-list</url-pattern>
        <url-pattern>/admin-question-detail-view</url-pattern>
        <url-pattern>/adminAnswerDetailview</url-pattern>
<!--         <url-pattern>/question-delete</url-pattern> -->
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminAnswerServlet</servlet-name>
        <url-pattern>/AdminAnswerServlet</url-pattern>
        <url-pattern>/adminViewAnswer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminUserServlet</servlet-name>
        <url-pattern>/AdminUserServlet</url-pattern>
        <url-pattern>/admin-user-list</url-pattern>
        <url-pattern>/userprofile</url-pattern>
        <url-pattern>/sendmessage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ValidateOtp</servlet-name>
        <url-pattern>/ValidateOtp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewPassword</servlet-name>
        <url-pattern>/NewPassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckUserServlet</servlet-name>
        <url-pattern>/CheckUserServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Glogin</servlet-name>
        <url-pattern>/Glogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IdTokenVerifierAndParser</servlet-name>
        <url-pattern>/IdTokenVerifierAndParser</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
